<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet" />

    <link href="/css/style.css" rel="stylesheet" />
</head>

<body class="container">

    <pm-header></pm-header>

    <pm-container style="position: absolute;top: 10%;left: 0%;width: 100%;max-width: 100%;">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <pm-accordion item-id="collapseTwo12"></pm-accordion>
            <pm-accordion item-id="collapseTwo13"></pm-accordion>
            <pm-accordion item-id="collapseTwo14"></pm-accordion>

        </div>
        <!-- Accordion wrapper -->
    </pm-container>

    <pm-footer></pm-footer>

    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->

    <script src="/app.js"></script>
    <script src="/components/shared/header.js"></script>
    <script src="/components/shared/container.js"></script>
    <script src="/components/shared/footer.js"></script>
    <script src="/components/accordion/accordion.js"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>