<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet" />

    <link href="/css/style.css" rel="stylesheet" />
</head>

<body class="container">

    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark pm-mav">
            <a class="navbar-brand" href="#"><i class="fa fa-cog"></i></a>
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="#"><i class="fa fa-user-circle"></i></a>
        </nav>
    </header>

    <footer>
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark pm-mav">
            <div class="col footer-icon"><i class="fas fa-home"></i><br/><span class="footer-word">Home</span></div>
            <div class="col footer-icon"><i class="fas fa-home"></i><br/><span class="footer-word">考試診療</span></div>
            <div class="col footer-icon"><i class="fas fa-home"></i><br/><span class="footer-word">英文診療</span></div>
            <div class="col footer-icon"><i class="fas fa-home"></i><br/><span class="footer-word">關於我</span></div>
        </nav>
    </footer>

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>