<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet" />
    <link href="/css/cards-extended.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147053694-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-147053694-1");
    </script>

    <style>
        .container,
            .row {
                width: 100%;
                max-width: 100%;
                padding: 0;
                margin: 0;
            }
            .row .col {
                padding: 0;
                margin: 0;
            }
        @media (max-width:768px) {

            .container,
            .row {
                width: 100%;
                max-width: 100%;
                padding: 0;
                margin: 0;
            }

            .row .col {
                padding: 0;
                margin: 0;
            }

            .question-form {
                max-width: 300px;
                width: 300px;
            }
        }
    </style>

</head>

<body>
    <div class="container">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col mb-4">

                <!-- Card -->
                <div class="card gradient-card">

                    <div class="card-image"
                        style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">

                        <!-- Content -->
                        <a href="#!">
                            <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                                <div class="first-content align-self-center p-3">
                                    <h3 class="card-title">錯題記錄</h3>
                                    <p class="lead mb-0">點開以看詳細記錄</p>
                                </div>
                                <div class="second-content  align-self-center mx-auto text-center">
                                    <i class="fas fa-chart-pie fa-3x"></i>
                                </div>
                            </div>
                        </a>

                    </div>

                    <!-- Data -->
                    <div class="third-content  ml-auto mr-4 mb-2">
                        <p class="text-uppercase text-muted">做題記錄</p>
                        <h4 class="font-weight-bold float-right">$$$$$</h4>
                    </div>

                    <!-- Content -->
                    <div class="card-body white animated">
                        <p class="text-muted">需要加強的 ITTO</p>
                        <% for(var i = 0; i < data.length; i++){ %>
                        <%  if(data[i].wrong_ans.length != 0){  %>
                        <h5 class="text-center py-4">
                            <strong><%= data[i].question %></strong>
                        </h5>
                        <p>選錯的答案： <%= data[i].wrong_ans %></p>
                        <p>應選的答案： <%= data[i].ans %></p>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

</body>

</html>